@model Kursova.ViewModels.UsersInfoModel
<!--

<form asp-action="ForgotPassword" asp-controller="Account" asp-anti-forgery="true">
</form>
    -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="card card-2">
                <div class="card-body">
                    <h2>Admin Page</h2>

                    <a class="btn btn-outline-dark" asp-action="RegisterStudent" asp-controller="Admin">Додати студента</a>
                    <a class="btn btn-outline-dark" asp-action="RegisterTeacher" asp-controller="Admin">Додати викладача</a>

                    <div class="text-center">
                        <br />
                        <h2 style="color:black">Всі викладачі</h2>
                        <table style="width:100%">
                            <tr>
                                <th>Прізвище та ініціали</th>
                                <th>Вчене звання</th>
                                <th>Кафедра</th>
                                <th>Електронна пошта</th>
                                <th></th>
                                <th></th>
                            </tr>
                            @{
                                foreach (var item in Model.Teachers)
                                {
                                    <tr>
                                        <td>@item.Initials</td>
                                        <td>@item.Grade</td>
                                        <td>@item.Kafedra</td>
                                        <td>@item.Email</td>
                                        <td>
                                            <form asp-action="TeacherDocuments" method="get">
                                                <input type="hidden" value="@item.Email" name="email" />
                                                <button type="submit" class="btn btn-outline-dark">
                                                    Документи
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <form asp-action="DeleteTeacher" method="post">
                                                <input type="hidden" value="@item.Email" name="email" />
                                                <button type="submit" class="btn btn-outline-dark">
                                                    Видалити
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                        <br />
                        <h2 style="color: black;">Всі студенти</h2>
                        <table style="width:100%">
                            <tr>
                                <th>Прізвище та ім'я</th>
                                <th>Група</th>
                                <th>Кафедра</th>
                                <th>Електронна пошта</th>
                                <th></th>
                                <th></th>
                            </tr>
                            @{
                                foreach (var item in Model.Students)
                                {
                                    <tr>
                                        <td>@item.FullName</td>
                                        <td>@item.Group</td>
                                        <td>@item.Kafedra</td>
                                        <td>@item.Email</td>
                                        <td>
                                            <form asp-action="StudentDocuments" method="get">
                                                <input type="hidden" value="@item.Email" name="email" />
                                                <button type="submit" class="btn btn-outline-dark">
                                                    Документи
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <form asp-action="DeleteStudent" method="post">
                                                <input type="hidden" value="@item.Email" name="email" />
                                                <button type="submit" class="btn btn-outline-dark">
                                                    Видалити
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>