@model Kursova.ViewModels.UsersInfoModel
@{
    Layout = null;
}
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="card card-2">
                <div class="card-body">
                    <h2>Admin Page</h2>

                    <a asp-action="Index" asp-controller="Admin">Користувачі</a>
                    <a asp-action="Messages" asp-controller="Admin">Сповіщення</a>
                    <br />

                    <a class="btn btn-outline-dark" asp-action="RegisterTeacher" asp-controller="Admin">Додати викладача</a>
                    <a class="btn btn-outline-dark" asp-action="RegisterStudent" asp-controller="Admin">Додати студента</a>

                    <div class="text-center">
                        <br />
                        <h2 style="color:black">Всі викладачі</h2>
                        <table style="width:100%">
                            <tr>
                                <th>Прізвище та ініціали</th>
                                <th>Вчене звання</th>
                                <th>Кафедра</th>
                                <th>Електронна пошта</th>
                                <th>Закріплений студент</th>
                                <th></th>
                            </tr>
                            @{
                                foreach (var item in Model.Teachers)
                                {
                                    <tr>
                                        <td>@item.Initials</td>
                                        <td>@item.Grade</td>
                                        <td>@item.Kafedra</td>
                                        <td>@item.Email</td>
                                        <td>
                                            @{
                                                if (@Kursova.ViewModels.UsersInfoModel.StudentsOfTeacher.ContainsKey(item.Email))
                                                {
                                                    foreach (var student in @Kursova.ViewModels.UsersInfoModel.StudentsOfTeacher[item.Email])
                                                    {
                                                        <a>@student.FullName</a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a>Нема студентів</a>
                                                }
                                            }
                                        </td>
                                        <td>
                                            <form asp-action="TeacherDocuments" method="get">
                                                <input type="hidden" value="@item.Email" name="email" />
                                                <button type="submit" class="btn btn-outline-dark">
                                                    Документи
                                                </button>
                                            </form>
                                            <form asp-action="DeleteTeacher" method="post">
                                                <input type="hidden" value="@item.Email" name="email" />
                                                <button type="submit" class="btn btn-outline-dark">
                                                    Видалити
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                        <br />
                        <h2 style="color: black;">Всі студенти</h2>
                        <table style="width:100%">
                            <tr>
                                <th>Прізвище та ініціали</th>
                                <th>Група</th>
                                <th>Кафедра</th>
                                <th>Електронна пошта</th>
                                <th>Науковий керівник</th>
                                <th></th>
                            </tr>
                            @{
                                foreach (var item in Model.Students)
                                {
                                    <tr>
                                        <td>@item.FullName</td>
                                        <td>@item.Group</td>
                                        <td>@item.Kafedra</td>
                                        <td>@item.Email</td>
                                        <td>@item.TeacherInitials</td>
                                        <td>
                                            @{
                                                if (@Kursova.ViewModels.UsersInfoModel.TeacherOfStudent.ContainsKey(item.Email))
                                                {
                                                    <a>@Kursova.ViewModels.UsersInfoModel.TeacherOfStudent[item.Email].Initials</a>
                                                }
                                                else
                                                {
                                                    <form asp-action="ChooseTeacherForStudent" method="get">
                                                        <input type="hidden" value="@item.Email" name="studentEmail" />
                                                        <button type="submit" class="btn btn-outline-dark">
                                                            +
                                                        </button>
                                                    </form>
                                                }
                                            }
                                        </td>
                                        <td>
                                            <form asp-action="StudentDocuments" method="get">
                                                <input type="hidden" value="@item.Email" name="email" />
                                                <button type="submit" class="btn btn-outline-dark">
                                                    Документи
                                                </button>
                                            </form>
                                            <form asp-action="DeleteStudent" method="post">
                                                <input type="hidden" value="@item.Email" name="email" />
                                                <button type="submit" class="btn btn-outline-dark">
                                                    Видалити
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>