@using Kursova
@using Kursova.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Kursova.ViewModels.UsersInfoModel
@using Microsoft.AspNetCore.Mvc.Rendering
@using Kursova.DAL.EF
@using System.Security.Claims


    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="nav-link text-dark" asp-area="" asp-action="MainPage" asp-controller="Home">
                <img class="logo-main scale-with-grid" src="~/img/logos/logo_1.png" data-retina="~/img/logos/logo_1.png" data-height="" width="160" height="160">
            </a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="btn nav-link js-scroll-trigger" href="/Admin/Student_home">Моя  сторінка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Admin/Student_Kursova">Моя курсова</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="@Url.Action("Student_notification","Student")">Сповіщення</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Student" asp-action="LogOut">Вийти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <!-- Header -->

    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="card card-2">

                    <table class="table">
                        <section class="bg-light page-section" id="portfolio">
                            <div class="row">
                                &emsp;&emsp;&emsp;
                                <div class="col-xs-6 col-md-4 portfolio-item">
                                    <div class="person_img">
                                        <div class="col-xs-4 col-sm-6">
                                            <a class="portfolio-link" data-toggle="modal" >
                                                <div class="portfolio-hover">
                                                    <div class="portfolio-hover-content">
                                                       <i class="fas fa-plus fa-3x"></i>

                                                    </div>
                                                </div>
                                                @foreach (var item in Model.Students)
                                                {
                                                    @if (item.Email == User.Identity.Name)
                                                { @if (item.ProfilePicture != null)
                                                    {
                                                        <img class="img-fluid" src="~/Users/@item.FullName/Uploaded files/@item.ProfilePicture" />
                                                    }
                                                    else
                                                    { <img class="img-fluid" src="~/img/portfolio/avatar.jpg" >
                                                    }
                                                  }
                                                }
                                                }
                                            </a>
                                            @foreach (var item in Model.Students)
                                            {@if (item.Email == User.Identity.Name && item.ProfilePicture == null)
                                                {
                                                    <form asp-action="Create" method="post"
                                                          enctype="multipart/form-data" asp-controller="Admin">
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <input type="hidden" value="@User.Identity.Name" name="email" />

                                                        <input style="margin-right: 550px;" type="file" name="img" asp-for="ImageUrl" />
                                                        <input type="submit"class="btn btn-primary" style="margin-right: 550px;" value="Підтвердити"  />
                                                    </form>
                                                }
                                        }

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span style="font-weight: bold;" class="text-dark">Мої дані</span>
                                    @foreach (var item in Model.Students)
                                    {@if (item.Email == User.Identity.Name)
                                        {<label for="inputFullName" class="sr-only">Прізвище та ім'я</label>
                                            <input type="text" readonly class="form-control" id="staticGroup" placeholder="@Html.DisplayFor(modelItem => item.FullName)">

                                            <label for="inputGroup" class="sr-only">Група</label>

                                            <input type="text" readonly class="form-control" id="staticGroup" placeholder="@Html.DisplayFor(modelItem => item.Group)">
                                            <label for="inputKafedra" class="sr-only">Кафедра</label>

                                            <input type="text" readonly class="form-control" id="staticKafedra" placeholder="@Html.DisplayFor(modelItem => item.Kafedra)">
                                            <label for="inputE_mail" class="sr-only">Електронна пошта</label>
                                            <input type="text" readonly class="form-control" id="staticGroup" asp-for="Email" placeholder="@Html.DisplayFor(modelItem => item.Email)">

                                        }}

                                </div>
                                &emsp;&emsp;&emsp;
                                <div class="form-group">
                                    <span style="font-weight: bold;" class="text-dark">Інформація про наукового керівника</span>
                                    @foreach (var item in Model.Students)
                                    {
                                        if (item.TeacherInitials != null)
                                        {
                                            @foreach (var teacher in Model.Teachers)
                                            {
                                                @if ((item.TeacherInitials == teacher.Initials) && (item.Email == User.Identity.Name))
                                                {
                                                    if (item.TeacherInitials != null)
                                                    {
                                                        <label for="inputFullName" class="sr-only">Прізвище та ініціали</label>
                                                        <input type="text" readonly class="form-control" id="staticFullNameTeacher" placeholder="@Html.DisplayFor(modelItem => teacher.Initials)">
                                                        <label for="inputE_mail" class="sr-only">Електронна пошта</label>
                                                        <input readonly class="form-control" id="staticE_mail" placeholder="@Html.DisplayFor(modelItem => teacher.Email)">
                                                    }
                                                    else
                                                    {
                                                        <label for="inputFullName" class="sr-only">Прізвище та ініціали</label>
                                                        <input type="text" readonly class="form-control" id="staticFullName" placeholder="Прізвище та ініціали">
                                                        <label for="inputE_mail" class="sr-only">Електронна пошта</label>
                                                        <input readonly class="form-control" id="staticE_mail" placeholder="Електронна пошта">

                                                    }
                                                }
                                            }
                                        }
                                    }
                                </div>
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

                                <div class="col-xs-12 col-md-7">


                                    <label for="inputThema" class="sr-only">Тема курсової</label>
                                    @foreach (var item in Model.Students)
                                    {
                                        @if (item.Email == User.Identity.Name)
                                        {
                                            if (item.CourseWorkTitle != null)
                                            {
                                                <input type="text" readonly class="form-control" id="staticThema" placeholder="@Html.DisplayFor(modelItem => item.CourseWorkTitle)">
                                            }
                                            else
                                            {
                                                <input type="text" readonly class="form-control" id="staticThema" placeholder="Тема Курсової">
                                            }
                                        }
                                    }
                                </div>

                                @foreach (var item in Model.Students)
                                {@if ((item.Email == User.Identity.Name) && (item.TeacherInitials == null))
                                    {
                                        <div class="col-xs-12 col-md-6">
                                            <br><br>
                                            <span style="font-weight: bold; margin-right: 200px;" class="text-dark">Вибрати керівника</span>
                                        </div>
                                        <div class="input-group mb-4" style="margin-left: 10px; padding-right: 100px; ">
                                            <div class="dropdown open">
                                                <form enctype="multipart/form-data" asp-action="UpdateStudent" asp-controller="Admin" method="post">
                                                    <input type="hidden" value="@User.Identity.Name" name="email" />

                                                    <select asp-for="TeacherInitials" name="name" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 10px;"
                                                            asp-items="@(new SelectList(Model.Teachers, "Id", "Initials"))">
                                                        <option>Оберіть прізвище та ініціали</option>
                                                    </select>
                                                    <button class="btn btn-primary" style="margin-right: 550px;" type="submit">Надіслати</button>
                                                </form>
                                            </div>
                                        </div>
                                    }}
                            </div>

                        </section>
                    </table>

                </div>
            </div>
        </div>
    </header>

