@model Kursova.ViewModels.UsersInfoModel
@{
    Layout = "Teacher_Layout";
}
@{
    ViewData["Title"] = "TeacherDocuments";
    Layout = null;
}

<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="card card-2">
                <div class="card-body">
                    <h1>Документи @Model.TeacherInitials</h1>

                    <div class="text-center">
                        <br />
                        <h2 style="color:black">Всі документи</h2>
                        <table style="width:100%">
                            <tr><h3>Опис</h3></tr>
                            @{
                                foreach (var item in Model.Documentations)
                                {
                                    <tr><p>@item.Description</p></tr>
                                    <tr><h3>Прикріплені матеріали</h3></tr>
                                    <tr>
                                        @{
                                            foreach (var doc in item.AttachedTeacherMaterials.Split("***"))
                                            {
                                                @doc.Split("\\").Last()
                                                <form asp-action="DownloadFile" method="get">
                                                    <input type="hidden" value="@doc" name="path" />
                                                    <button type="submit" class="btn btn-outline-dark">
                                                        Download
                                                    </button>
                                                </form>

                                            }
                                        }
                                    </tr>
                                    <br />
                                    <tr>
                                        <p>
                                            <form asp-action="DeleteStudentDocument" method="post">
                                                <input type="hidden" value="@item.Id" name="id" />
                                                <button type="submit" class="btn btn-outline-dark">
                                                    Видалити документацію
                                                </button>
                                            </form>
                                        </p>
                                    </tr>
                                }
                            }
                        </table>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


