
@model Kursova.ViewModels.KursovaPageModel;
@{
    Layout = "Teacher_Layout";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="img/logos/logo.png" sizes="32x32">

    <title>Kursova</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">

</head>
<body id="page-top">



    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="card card-2">

                    <section class="bg-light page-section" id="kursovalist">

                        <div class="row">
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            <div class="form-group">
                                <div class="dropdown open">
                                    <form asp-action="ChooseStudent" asp-controller="Admin">
                                        <select name="name" class="btn btn-secondary dropdown-toggle" onchange="this.form.submit()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 10px;"
                                                asp-items="@(new SelectList(Model.Students, "Id", "FullName"))">
                                            <option>Оберіть Студента</option>

                                        </select>
                                    </form>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        @{

                                            <input type="hidden" value="@User.Identity.Name" name="email" />


                                            <button class="btn btn-primary" style="margin-right: 550px;" type="submit">Надіслати</button>

                                        }
                                    </div>
                                </div><br>
                                @if (TempData["data"] != null)
                                {
                                    @foreach (var item in Model.Students)
                                    {
                                        if (item.Id == Convert.ToInt32(TempData["data"]))
                                        {
                                            <input type="thema" class="form-control" id="ThemaKursova" placeholder="@item.FullName"><br />
                                            <input type="thema" class="form-control" id="ThemaKursova" placeholder="@item.CourseWorkTitle"><br />


                                            <span style="font-weight: bold;" class="text-dark">Матеріали студента</span>



                                            foreach (var doc in Model.Documentation)
                                            {
                                                foreach (var comment in Model.Comments)
                                                {
                                                    if (item.Id == Convert.ToInt32(TempData["data"]) && item.FullName == doc.StudentName && comment.Initials == User.Identity.Name && doc.TeacherName == null)

                                                    {
                                                        if (comment.Filename == doc.Title)
                                                        {
                                                        <div class="input-group mb-3">
                                                            <label for="inputDocument" class="sr-only">Документ</label>
                                                            <input type="text" readonly class="form-control" id="staticDocument" placeholder="@doc.Title">
                                                            <div class="input-group-append">
                                                                <form asp-action="DownloadTeacher" method="get">
                                                                    <input type="hidden" value="@User.Identity.Name" name="email" />

                                                                    <input type="hidden" value="@doc.Title" name="filename" />

                                                                    <input type="hidden" value="@item.FullName" name="studinitials" />
                                                                    <button type="submit" class="btn btn-outline-secondary">Download!</button>
                                                                </form>
                                                            </div>
                                                        </div>

                                                        <input type="text" name="comment" class="form-control" id="inputText" placeholder="@comment.Description">

                                                        }
                                                    }
                                                }
                                                if (item.Id == Convert.ToInt32(TempData["data"]) && item.FullName == doc.StudentName &&  doc.TeacherName == null) { 
                                                 <div class="input-group mb-3">
                                                            <label for="inputDocument" class="sr-only">Документ</label>
                                                            <input type="text" readonly class="form-control" id="staticDocument" placeholder="@doc.Title">
                                                            <div class="input-group-append">
                                                                <form asp-action="DownloadTeacher" method="get">
                                                                    <input type="hidden" value="@User.Identity.Name" name="email" />

                                                                    <input type="hidden" value="@doc.Title" name="filename" />

                                                                    <input type="hidden" value="@item.FullName" name="studinitials" />
                                                                    <button type="submit" class="btn btn-outline-secondary">Download!</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <form asp-controller="Admin" asp-action="AddCommentTeacher">
                                                            <div class="input-group mb-3">
                                                                <label for="inputText" class="sr-only">Додати коментар</label>
                                                                <input type="hidden" value="@User.Identity.Name" name="email" />
                                                                <input type="hidden" value="@item.CourseWorkTitle" name="coursework" />
                                                                <input type="hidden" value="@doc.Title" name="filename" />

                                                                <input type="text"
                                                                       name="comment" class="form-control" id="inputText" placeholder="Додати коментар">
                                                                <div class="input-group-append">
                                                                    <button type="submit" class="btn btn-primary">+</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        }

                                                    }
                                                }




                                            }
                                        }
                                    
                                    




                                else
                                    {
                                    <input type="thema" class="form-control" id="ThemaKursova" placeholder="Студент"><br><br>
                                    <input type="thema" class="form-control" id="ThemaKursova" placeholder="Тема Курсової"><br><br>
                                }



                            </div>
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            &emsp;&emsp;

                            <div class="form-group">







                                <br><br>




                                @foreach (var student in Model.Students)
                                {

                                    if (student.Id == Convert.ToInt32(TempData["data"]))
                                    {
                                        <span style="font-weight: bold;" class="text-dark">
                                            Додати матеріали
                                            <br><br>
                                        </span>
                                        <form asp-controller="Admin" asp-action="UploadFileForTeacher" enctype="multipart/form-data" method="post">
                                            <input name="file" type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                            <input type="hidden" value="@User.Identity.Name" name="email" />
                                            <input type="hidden" value="@student.FullName" name="studInitials" />

                                            <input type="submit" class="btn btn-primary" style="margin-right: 550px;" value="Підтвердити" />
                                        </form>


                                    }
                                }
                                <!--<br><br><input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp"> -->


                                <br><br>
                                @foreach (var doc in Model.Documentation)
                                {
                                    foreach (var teacher in Model.Teachers)
                                    {
                                        foreach (var student in Model.Students)
                                        {

                                            if (doc.TeacherName == teacher.Initials && student.FullName == doc.StudentName && student.Id == Convert.ToInt32(TempData["data"]))
                                            {
                                                <input type="text" readonly class="form-control" id="staticDocument" placeholder="@doc.Title">
                                            }
                                        }

                                    }
                                }
                            </div>
                        </div>
                </div>

                </section>


            </div>
        </div>
        </div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>
</body>

