<!-- model IEnumerable<Kursova.DAL.Entities.Teacher> -->
@model Kursova.ViewModels.CourseProjects
@{
    Layout = "Teacher_Layout";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="img/logos/logo.png" sizes="32x32">

    <title>Kursova</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">

</head>
<body id="page-top">

    

    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="card card-2">

                    <section class="bg-light page-section" id="kursovalist">

                        <div class="row">
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            <div class="form-group">
                                <div class="dropdown open">
                                    <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Прізвище та ініціали студента</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        @{
                                            foreach (var item in Model.AllProjects)
                                            {
                                                @*<form asp-action="ChooseStudent" method="get">
                                                        <input type="hidden" value="@item.StudentName" name="studentName" />
                                                        <a href="/Teacher/ChooseStudent/@item.StudentName" class="dropdown-item">@item.StudentName</a>
                                                    </form>*@
                                                <a class="dropdown-item">@item.StudentName</a>
                                            }
                                        }
                                    </div>
                                </div><br>
                                <input type="thema" class="form-control" id="ThemaKursova" placeholder="Тема курсової"><br><br>

                                <span style="font-weight: bold;" class="text-dark">Матеріали студента</span>

                                @{
                                    foreach (var item in Model.CurrentProject.StudentMaterials)
                                    {
                                        <div class="input-group mb-3">
                                            <label for="inputDocument" class="sr-only">Документ</label>
                                            <input type="text" readonly class="form-control" id="staticDocument" placeholder="@item">
                                            <div class="input-group-append">
                                                <form asp-action="GetFile" method="get">
                                                    <input type="hidden" value="@item" name="filename" />
                                                    <input type="hidden" value="@Model.CurrentProject.StudentName" name="ownerName" />
                                                    <button type="submit" class="btn btn-outline-secondary">Download!</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <label for="inputText" class="sr-only">Додати коментар</label>
                                            <input type="text" class="form-control" id="inputText" placeholder="Додати коментар">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-primary">+</button>
                                            </div>
                                        </div>
                                    }
                                }



                            </div>
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            &emsp;&emsp;

                            <div class="form-group">
                               

                                    

                                    

                                 
                                    <br><br>


                                    <span style="font-weight: bold;" class="text-dark">
                                        Додати матеріали
                                        <br><br>
                                            <form asp-controller="Teacher" asp-action="UploadFile" enctype="multipart/form-data" method="post">
                                                <input type="file" name="file" />
                                                <input type="hidden" value="@User.Identity.Name" name="ownerName" />

                                                <button type="submit">Submit</button>
                                            </form>
                                        <!--<br><br><input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp"> -->
                                    </span>


                                    <br><br>

                                    <label for="inputDocument" class="sr-only">Документ</label>
                                    <input type="text" readonly class="form-control" id="staticDocument" placeholder="Документ">
                                    <label for="inputDocument" class="sr-only">Документ</label>
                                    <input type="text" readonly class="form-control" id="staticDocument" placeholder="Документ">
                                    <label for="inputDocument" class="sr-only">Документ</label>
                                    <input type="text" readonly class="form-control" id="staticDocument" placeholder="Документ">
                                    <label for="inputDocument" class="sr-only">Документ</label>
                                    <input type="text" readonly class="form-control" id="staticDocument" placeholder="Документ">
                                    <label for="inputDocument" class="sr-only">Документ</label>
                                    <input type="text" readonly class="form-control" id="staticDocument" placeholder="Документ">

                                </div>
                            </div>
                        </div>

                    </section>


                </div>
            </div>
        </div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>
</body>

